/* Copyright 2019 Tristan Lucas
 * SPDX-License-Identifier: Apache-2.0 */
html, body {
    color: black;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #ACACAC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#header {
    display: block;
}

#logo {
    float: right;
    width: 100px;
    height: 100px;
}

#header_inner span {
    display: block;
}

.sp_h1 {
    font-size: 3.5em;
}

.sp_h2 {
    font-size: 2.0em;
}

hr {
    display: block;
}

h2 {
    font-size: 2.0em;
    display: inline-block;
    font-weight: normal;
    margin: 0px;
}

#readme {
    margin-left: 15px;
}

#readme h2 {
    margin-left: -15px;
}

.current_release {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;    
}

#cur_package {
    font-size: 5.0em;
    font-weight: bold;
    display: block;
}

#cur_package .dl_button {
    background-image: url(dl.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    padding-left: 80px;
    background-position-y: 50%;
    color: black;
}

.title {
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

.details {
    color: #ACACAC;
    font-size: 0.8em;
}

.old_release {
    margin-left: 15px;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: right;
    background-color: #11778F;
    color: white;
    font-style: italic;
}

#footer .wrapper {
    margin: 5px;
}

#footer a,
#footer a:link,
#footer a:active,
#footer a:hover,
#footer a:visited {
    color: #b9b9b9;
}
