{# Copyright 2019 Tristan Lucas
SPDX-License-Identifier: Apache-2.0 #}
{% extends "release.html" %}
{% block label %}<p>Current release:</p>{% endblock %}
{% block package %}
<span id="cur_package">
  <a href="{{ apk_link }}" target="_blank" class="release_link current_link">
    <span class="dl_button">{{ apk }}</span>
  </a>
</span>
{% endblock %}
