{# Copyright 2019 Tristan Lucas
SPDX-License-Identifier: Apache-2.0 #}
<!DOCTYPE htmli>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="shortcut icon" href="assets/favicon.png"/>
        <link rel="stylesheet" type="text/css" href="assets/style.css?t={{ revision }}"/>
        <title>
            SheepSync releases
        </title>
    </head>
    <body>
      <div id="header">
        <img src="assets/logo.png" alt="SheepSync Logo" id="logo"/>
        <div id="header_inner">
          <span class="sp_h1">SheepSync</span>
          <span class="sp_h2">Herding your data safely!</span>
        </div>
      </div>
      <hr/>
      <div id="readme">{{ readme }}</div>
      <hr/>
      <span class="sp_h2">Downloads</span>
      <div id="releases">{% for item in releases %}{{ item }}{% endfor %}</div>
      <div id="footer">
        <div class="wrapper">
          <span class="copyright">
            Published under the <a href="https://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank">Apache-2.0</a> license by <a href="mailto:tristan.lucas.de@gmail.com">Tristan Lucas</a>
          </span>
        </div>
      </div>
    </body>
</html>
