{# Copyright 2019 Tristan Lucas
SPDX-License-Identifier: Apache-2.0 #}
<div class="{% if is_current %}current_release{% else %}old_release{% endif %}">
    {% block label %}{% endblock %}
    {% block package %}
    <span class="title"><a href="{{ apk_link }}" target="_blank">{{ apk }}</a></span>
    {% endblock %}
    <span class="details">
        <a href="{{ history_link }}" target="_blank">{{ finished }} @ {{ commit | truncate(7, True, '') }}</a>
    </span>
</div>

